*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    font-size: 12px;
    margin: 0 auto;
    background-color: #eee;
}
#header {
    width: 980px;
    height: 380px;
    margin: 50px auto auto auto;
}
#header #center {

    width: 980px;
    height: 340px;
    background-color: #dddddd;
}
#header #center #time {
    width: 980px;
    height: 100px;
    margin: 0 auto;
    font-size: 60px;
    font-family: Arial;
    text-align: center;
}
#header #center #time #hours {

    width: 80px;
    height: 80px;
    top: 14px;
    left: 120px;
    position: relative;
    text-align: center;
    line-height: 80px;
}
#header #center #time .and1 {

    width: 80px;
    height: 80px;
    margin-top: -66px;
    margin-left: 240px;
    text-align: center;
    line-height: 80px;

}

#header #center #time #minutes {

    width: 80px;
    height:80px;
    margin-top: -80px;
    margin-left: 360px;
    text-align: center;
    line-height: 80px;

}
#header #center #time .and2 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 480px;
    text-align: center;
    line-height: 80px;
}
#header #center #time #seconds {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 600px;
    text-align: center;
    line-height: 80px;
}
#header #center #date {
    width: 980px;
    height: 100px;
    font-size: 55px;
    font-family: Arial;
    text-align: center;
    margin: 0 auto;
}
#header #center #date #week {
    width: 120px;
    height: 80px;
    top: 15px;
    left: 100px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #date #day {
    width: 80px;
    height: 80px;
    top: -65px;
    left: 320px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #date #month {
    width: 80px;
    height: 80px;
    top: -145px;
    left: 500px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #date #year {
    width: 160px;
    height: 80px;
    top: -225px;
    left: 680px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #weather {
    width: 980px;
    height: 100px;
    font-size: 55px;
    font-family: Arial;
    text-align: center;
    margin: 0 auto;

}
#header #center #weather #city {
    width: 120px;
    height: 80px;
    top: 15px;
    left: 60px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #weather #img {
    width: 120px;
    height: 80px;
    top: -65px;
    left: 240px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #weather #weath {
    width: 120px;
    height: 80px;
    top: -145px;
    left: 420px;
    text-align: center;
    line-height: 80px;
    position: relative;

}
#header #center #weather #temperature {
    width: 120px;
    height: 80px;
    top: -225px;
    left: 600px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    position: relative;

}
#header #center #weather #wind {
    width: 160px;
    height: 80px;
    top: -305px;
    left: 780px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    position: relative;

}
#header #play {
    width: 80px;
    height: 40px;
    display: block;
    margin: 0 auto;
    clear: both;
}